---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- Banner Start -->
        <img src="/shiorinovellapiano.jpg" alt="Shiori Banner" style="width: 1920px; height: 475px; display: block; object-fit: cover; margin: 0 auto;" />
		<!-- Banner End -->
		<!-- Header Start -->
		<Header />
		<!-- Header End -->
		<main>
			<h1>Lianyu</h1> <!-- That's my name -->
			<h5>VIDEO EDITOR - DIGITAL FORENSIC ANALYST - BARISTA</h5> <!-- My professions -->
			<hr>
			<p>
				I edit.
			</p>
		</main>
		<Footer />
	</body>
</html>
